// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
html {
  height: 100%;
}

body {
  height: 100%;
  overflow: hidden;
}
