@import 'meyer-reset';
@import 'variables';
@import 'toolbox';
@import 'mdl-selectfield';
// @import '../node_modules/material-design-lite/src/material-design-lite';
@import 'ol';
@import 'ol3-sidebar';

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  height: 100%;
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  // border: 1px solid red!important;
}
