$color-black: rgb(0, 0, 0);
$color-white: rgb(255, 255, 255);
$color-primary: rgb(96, 125, 139);
$color-primary-dark: rgb(69, 90, 100);
$color-accent: rgb(224, 64, 251);
$color-primary-contrast: $color-white !default;
$color-accent-contrast: $color-white !default;
$text-color-primary: rgba(0, 0, 0, 0.87) !default;
$text-link-color: $color-accent !default;
$divider-color: rgba(0, 0, 0, 0.12) !default;
