// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------





// /// Regular font family
// /// @type List
$text-font-stack: 'Roboto', 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

// /// Code (monospace) font family
// /// @type List
// $code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;





// /// Copy text color
// /// @type Color
// $text-color: rgb(34, 34, 34) !default;

// /// Main brand color
// /// @type Color
// $brand-color: rgb(229, 0, 80) !default;

// /// Light grey
// /// @type Color
// $light-grey: rgb(237, 237, 237) !default;

// /// Medium grey
// /// @type Color
// $mid-grey: rgb(153, 153, 153) !default;

// /// Dark grey
// /// @type Color
// $dark-grey: rgb(68, 68, 68) !default;





// /// Container's maximum width
// /// @type Length
$max-width: 1180px !default;





// /// Breakpoints map
// /// @prop {String} keys - Keys are identifiers mapped to a given length
// /// @prop {Map} values - Values are actual breakpoints expressed in pixels
// /// @see {mixin} respond-to
// $breakpoints: (
//   'small': (min-width: 320px),
//   'medium': (min-width: 768px),
//   'large': (min-width: 1024px),
// ) !default;






// /// Relative or absolute URL where all assets are served from
// /// @type String
// /// @example scss - When using a CDN
// ///   $base-url: 'http://cdn.example.com/assets/';
// $base-url: '/assets/' !default;


/// Mdl Custom
$color-black: rgb(0, 0, 0);
$color-white: rgb(255, 255, 255);
$color-primary: rgb(96, 125, 139);
$color-primary-dark: rgb(69, 90, 100);
$color-accent: rgb(224, 64, 251);
$color-primary-contrast: $color-white !default;
$color-accent-contrast: $color-white !default;
$text-color-primary: rgba(0, 0, 0, 0.87) !default;
$text-link-color: $color-accent !default;
$divider-color: rgba(0, 0, 0, 0.12) !default;
